In [2]:
text = "Hello World"
text2 = " and you as well"
print(text + text2)

Hello World and you as well

## Heading 2

---


Normal Text Here

### Heading 3
ordered list here
1. Fruits
  1. Banana
  1. Grapes
1. Veggies
  1. Tomato
  1. Brocolli

unordered list here
- Fruits
  - Banana
  - Grapes
- Veggies
  - Tomato
  - *Brocolli*

## Python Syntax

In [3]:
# variable types
x = float(1)
y = str(10.2)
z = int(2.5)

words = "hello world"
print(words[0])
print(words[2:5])
print(len(words))
print(words.lower())
print(words.upper())

h
llo
11
hello world
HELLO WORLD

In [4]:
 # list is a collection with is ordered and changeable, allows duplicate entries
 mylist = ["apple", "banana", "cherry"]
 # tuples are a collection which is ordered but unchangable, allows duplicate entries
 mytuple = ("apple", "banana", "cherry")
 print(len(mytuple))
 # set is a colection which is unordered and unindexed, no duplicates
 myset = {"apple", "banana", "cherry"}

 myset.add("blueberry")
 print(myset)

 myset.update(["blueberry", "strawberry", "grapes"])
 print(myset)
 
 myset.remove("blueberry") # error raised if bluebarry doesnt exist
 myset.discard("blueberry") # error not raised if blueberry doesnt exist
 print(len(myset))
 myset.clear()
 del myset

3
{'blueberry', 'cherry', 'apple', 'banana'}
{'blueberry', 'grapes', 'apple', 'banana', 'strawberry', 'cherry'}
5

In [5]:
# dictionaries {key : value, key : value, key, value}
mydict = {
   "name": "John",
   "id": 12345,
   "course": "s326"
}

default_value = "test"

print(mydict["name"])
print(mydict.get("name", default_value)) # if name doesnt exist, return default_value

mydict['course'] = "s334"
print(mydict)

print("\nfor i in mydict: ")
for i in mydict:
  print(i)

print("\nfor values[] in mydict: ")
for i in mydict:
  print(mydict[i])

print("\nfor .values in mydict: ")
for i in mydict.values(): # or mydict.keys() if needed
  print(i)

print("\nfor items in mydict: ")
for x,y in mydict.items():
  print(x,y)

print("\nif string \"name\" in mydict: ")
if "name" in mydict:
  print("yes there is a name in mydict")

del mydict

John
John
{'name': 'John', 'id': 12345, 'course': 's334'}

for i in mydict:
name
id
course

for values[] in mydict:
John
12345
s334

for .values in mydict:
John
12345
s334

for items in mydict:
name John
id 12345
course s334

if string "name" in mydict:
yes there is a name in mydict

In [6]:
# conditions
hundred = 100
ninetynine = 99

if ninetynine > hundred:
  print("test")
elif ninetynine == hundred:
  print("test")
else:
  print("ninetynine less than hundred")

print("Hundred") if hundred > ninetynine else print("NinetyNine") #whyyyy would you ever do this

ninetynine less than hundred
Hundred

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1

print();

i = 1
while i < 6:
  print(i)
  if i == 3:
    i += 1
    print("continued")
    continue #continue skips the rest of the loop and goes back to start
    #break to finish the loop
  i += 1

1
2
3
4
5

1
2
3
continued
4
5