## dabbling with py pandas

In [3]:
import pandas as pd
import numpy as np

In [6]:
ser_1 = pd.Series([1, 1, 2, -3, -5, 8, 13])
print(ser_1.values)
print(ser_1.index)

[ 1  1  2 -3 -5  8 13]
RangeIndex(start=0, stop=7, step=1)

In [14]:
ser_2 = pd.Series([1, 1, 2, -3, -5], index=['a', 'b', 'c', 'd', 'e'])
print(ser_2[4] == ser_2['e'])
print(ser_2[['c','a','b']])
print(ser_2[ser_2 > 0])
print(ser_2 * 2)
np.exp(ser_2 * 2)

True
c    2
a    1
b    1
dtype: int64
a    1
b    1
c    2
dtype: int64
a     2
b     2
c     4
d    -6
e   -10
dtype: int64

a     7.389056
b     7.389056
c    54.598150
d     0.002479
e     0.000045
dtype: float64

In [15]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}
df_1 = pd.DataFrame(data_1)
df_1

  state  year  pop
0    VA  2012  5.0
1    VA  2013  5.1
2    VA  2014  5.2
3    MD  2014  4.0
4    MD  2015  4.1

In [16]:
df_2 = pd.DataFrame(data_1, columns=['year', 'state', 'pop'])
df_2

   year state  pop
0  2012    VA  5.0
1  2013    VA  5.1
2  2014    VA  5.2
3  2014    MD  4.0
4  2015    MD  4.1